blazer_run_checks_5_minutes:
  command: "Blazer.run_checks(schedule: '5 minutes')"
  queue: low
  schedule: every 5 minutes

blazer_run_checks_1_hour:
  command: "Blazer.run_checks(schedule: '1 hour')"
  queue: low
  schedule: every hour

blazer_run_checks_1_day:
  command: "Blazer.run_checks(schedule: '1 day')"
  queue: low
  schedule: every day at 7:30am

blazer_send_failing_checks:
  command: "Blazer.send_failing_checks"
  queue: low
  schedule: every day at 8am

pghero_capture_query_stats:
  command: "PgHero.capture_query_stats"
  queue: low
  schedule: every 5 minutes

pghero_space_stats:
  command: "PgHero.capture_space_stats"
  queue: low
  schedule: every day at 5am

ensure_future_terms:
  class: EnsureFutureTermsJob
  queue: low
  schedule: every month on the 1st at 2am

fill_missing_rmp_ids:
  class: FillMissingRmpIdsJob
  queue: low
  schedule: every sunday at 1:30am

send_missing_rmp_ids_summary:
  class: SendMissingRmpIdsSummaryJob
  queue: low
  schedule: every sunday at 2:30am

update_faculty_rmp_ratings:
  command: "Faculty.update_all_ratings!"
  queue: low
  schedule: every sunday at 3:30am

nightly_calendar_sync:
  class: NightlyCalendarSyncJob
  queue: low
  schedule: every day at 3am

cleanup_orphaned_calendar_records:
  class: CleanupOrphanedCalendarRecordsJob
  queue: low
  schedule: every day at 4am

cleanup_orphaned_google_calendars:
  class: CleanupOrphanedGoogleCalendarsJob
  queue: low
  schedule: every day at 4:30am

cleanup_orphaned_oauth_credentials:
  class: CleanupOrphanedOauthCredentialsJob
  queue: low
  schedule: every day at 5:30am

clear_solid_queue_finished_jobs:
  command: "SolidQueue::Job.clear_finished_in_batches(sleep_between_batches: 0.3)"
  queue: low
  schedule: every hour at minute 12