# examples:
#   periodic_cleanup:
#     class: CleanSoftDeletedRecordsJob
#     queue: background
#     args: [ 1000, { batch_size: 500 } ]
#     schedule: every hour
#   periodic_cleanup_with_command:
#     command: "SoftDeletedRecord.due.delete_all"
#     priority: 2
#     schedule: at 5am every day

blazer_run_checks_5_minutes:
  command: "Blazer.run_checks(schedule: '5 minutes')"
  schedule: every 5 minutes

blazer_run_checks_1_hour:
  command: "Blazer.run_checks(schedule: '1 hour')"
  schedule: every hour

blazer_run_checks_1_day:
  command: "Blazer.run_checks(schedule: '1 day')"
  schedule: every day at 7:30am

blazer_send_failing_checks:
  command: "Blazer.send_failing_checks"
  schedule: every day at 8am

# Update all faculty RateMyProfessor ratings weekly
# Runs every Sunday at 3:00 AM in application timezone (Eastern Time)
update_faculty_rmp_ratings:
  command: "Faculty.update_all_ratings!"
  queue: low
  schedule: every sunday at 3am

nightly_calendar_sync:
  class: NightlyCalendarSyncJob
  queue: low
  schedule: every day at 3:30am

delete_orphaned_google_calendars:
  class: DeleteOrphanedGoogleCalendarsJob
  queue: low
  schedule: every day at 4am

cleanup_orphaned_google_calendars:
  class: CleanupOrphanedGoogleCalendarsJob
  queue: low
  schedule: every day at 4:15am

production:
  clear_solid_queue_finished_jobs:
    command: "SolidQueue::Job.clear_finished_in_batches(sleep_between_batches: 0.3)"
    schedule: every hour at minute 12


